<div class="modal-dialog modal-dialog-scrollable" id="legal-terms-modal" style="position: absolute; top: 0; display: @(Open ? "flex" : "none")">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Termos de Uso</h5>
            <button type="button" class="close" @onclick="OnClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body terms">
            <center><h1>TERMOS DE USO DO DexQuiz</h1></center>
            <br />
            <p>Última atualização: 21 de setembro de 2020.</p>
            <p>Por favor, leia com atenção estes termos antes de utilizar o Aplicativo <strong>DexQuiz</strong>.</p>
            <h2>RELACIONAMENTO CONTRATUAL</h2>
            <p>
                <strong>1.1.</strong> Estes TERMOS DE USO do APLICATIVO <strong>DexQuiz (“TERMOS DE USO”)</strong> consistem em contrato firmado entre
                a <strong>Prime Sistemas de Atendimento ao Consumidor Ltda.</strong>, inscrita no CNPJ/MF sob o nº 23.741.593/0003-04, com sede
                na Rua Doutor Ricardo Benetton Martins, s/n, Polo II de Alta Tecnologia, CEP 13086-902, Campinas/SP, aqui designada “<strong>DEXTRA</strong>”,
                e o usuário (“<strong>USUÁRIO</strong>”) do APLICATIVO <strong>DexQuiz</strong> disponível para dispositivos móveis iOS e Android
                e qualquer outro dispositivo eletrônicos com acesso à internet que tenham instalado os navegadores Chrome, Firefox, Opera, Edge, Edge Chromium, Safari, Brave
                ou Chromium estará apto a utilizar o APLICATIVO(“<strong>APLICATIVO</strong>”). O aceite dos TERMOS DE USO é indispensável para qualquer forma de utilização do APLICATIVO.
            </p>
            <br />
            <h2>TODA E QUALQUER PESSOA QUE SE TORNAR UM USUÁRIO DO APLICATIVO DECLARA ACEITAR ESTES TERMOS DE USO.</h2>
            <p>
                <strong>1.2.</strong> Menores de idade apenas somente poderão cadastrar-se para utilizar o APLICATIVO mediante o consentimento por pelo menos um dos pais ou pelo responsável legal.
            </p>
            <p>
                <strong>1.3.</strong> Os TERMOS DE USO são o consenso integral e plenamente vinculante entre a DEXTRA e o USUÁRIO, sendo o único documento a reger sua relação contratual,
                substituindo todos e quaisquer acordos e entendimentos, verbais ou escritos, mantidos anteriormente. A aceitação dos TERMOS DE USO em sua íntegra é obrigatória para que o USUÁRIO
                usufrua de todas as funcionalidades do APLICATIVO.
            </p>
            <p>
                <strong>1.4.</strong> Os TERMOS DE USO são disponibilizados ao USUÁRIO e por ele necessariamente aceitos quando do início do processo de instalação,
                cadastro e utilização do APLICATIVO e, dada sua publicidade, não permitem que o USUÁRIO alegue desconhecimento de seu conteúdo.
            </p>
            <p>
                <strong>1.5.</strong> A DEXTRA poderá alterar os TERMOS DE USO a qualquer momento. Aditamentos entrarão em vigor quando a DEXTRA fizer a postagem da versão atualizada
                dos TERMOS DE USO no APLICATIVO. Caso haja alteração dos TERMOS DE USO relacionada (i) à finalidade específica do Tratamento de Dados Pessoais; (ii) à forma e duração
                do Tratamento de Dados Pessoais, observados os segredos comercial e industrial da DEXTRA; (iii) à identificação do controlador dos Dados Pessoais; e/ou (iv)
                às informações acerca do uso compartilhado de Dados Pessoais pelo controlador e a finalidade, o USUÁRIO será informado de forma destacada, seja por meio das
                informações de contato que tivermos em nosso banco de dados ou por meio de notificação no APLICATIVO. Se o USUÁRIO continuar a utilizar o APLICATIVO após a
                alteração destes TERMOS DE USO, o USUÁRIO seguirá vinculado aos mesmos.
            </p>
            <br />
            <h2>2. DEFINIÇÔES</h2>
            <p>
                <strong>i.</strong> “<strong>DEXTRA</strong>” é a <strong>Prime Sistemas de Atendimento ao Consumidor Ltda.</strong>, inscrita no CNPJ/MF sob o nº 23.741.593/0003-04,
                com sede na Rua Doutor Ricardo Benetton Martins, s/n, Polo II de Alta Tecnologia, CEP 13086-902, Campinas/SP;
            </p>
            <p>
                <strong>ii.</strong> “<strong>USUÁRIO</strong>” é o usuário cadastrado em uma CONTA no APLICATIVO;
            </p>
            <p>
                <strong>iii.</strong> “<strong>CONTA</strong>” significa a conta aberta pelo USUÁRIO no APLICATIVO individual e intransferível,
                nos termos da Cláusula 4.1 destes TERMOS DE USO; e
            </p>
            <p>
                <strong>iv.</strong> “<strong>APLICATIVO</strong>” significa o aplicativo <strong>DexQuiz</strong> para dispositivos eletrônicos,
                tais como smartphones, computadores e tablets, que tem como objetivo disponibilizar ao USUÁRIO uma experiência de interação em evento
                de tecnologia virtual e/ou presencial.

            </p>
            <br />
            <p>
                <strong>3.1.</strong> Sujeito ao cumprimento destes TERMOS DE USO, a DEXTRA outorga ao USUÁRIO uma licença limitada, não exclusiva, não passível de sublicença,
                revogável e não transferível para uso do APLICATIVO. Quaisquer direitos não expressamente outorgados por estes TERMOS DE USO são reservados à DEXTRA.
            </p>
            <p>
                <strong>3.2.</strong> O USUÁRIO não poderá: (i) remover qualquer aviso de direito autoral, direito de marca ou outro aviso de direito de propriedade de
                qualquer parte do APLICATIVO; (ii) reproduzir, modificar, preparar obras derivadas, distribuir, licenciar, locar, vender, revender, transferir, exibir,
                veicular, transmitir ou, de qualquer outro modo, explorar o APLICATIVO, exceto da forma expressamente permitida pela DEXTRA; (iii) decompilar, realizar
                engenharia reversa ou desmontar o APLICATIVO; (iv) conectar, espelhar ou recortar qualquer parte do APLICATIVO; (v) fazer ou lançar quaisquer programas
                ou scripts com a finalidade de fazer scraping, indexação, pesquisa ou qualquer outra forma de obtenção de dados de qualquer parte do APLICATIVO,
                ou de sobrecarregar ou prejudicar indevidamente a operação e/ou funcionalidade de qualquer aspecto do APLICATIVO; ou (vi) tentar obter acesso não autorizado
                ao APLICATIVO ou prejudicar qualquer aspecto do APLICATIVO ou seus sistemas ou redes correlatas.
            </p>
            <p>
                <strong>3.3</strong> O APLICATIVO poderá ser disponibilizado e acessado em conexão com aplicativos e conteúdo de terceiros (inclusive publicidade)
                que a DEXTRA não controlará.
            </p>
            <p>
                <strong>3.4.</strong> Ao utilizar o APLICATIVO, o USUÁRIO reconhece que termos de uso e políticas de privacidade diferentes poderão ser aplicáveis ao uso
                desses conteúdos de terceiros. A DEXTRA não endossa esses conteúdos de terceiros e não será, em hipótese alguma, responsável por nenhum produto ou serviço
                fornecido por terceiros. Além disto, a Apple Inc. e a Google, Inc. e/ou suas subsidiárias e afiliadas internacionais serão terceiros beneficiários destes
                TERMOS DE USO, caso você acesse o APLICATIVO da DEXTRA usando aplicativos desenvolvidos para dispositivos móveis baseados em iOS ou Android, respectivamente.
                Esses terceiros beneficiários não são partes destes TERMOS DE USO e não são responsáveis pela prestação dos serviços sujeitos a estes TERMOS. Seu acesso ao
                APLICATIVO usando esses dispositivos está sujeito às condições estabelecidas nos termos de serviços dos respectivos terceiros beneficiários.
            </p>
            <p>
                <strong>3.5.</strong> O APLICATIVO é propriedade da DEXTRA ou de seus licenciadores. Ao USUÁRIO é concedida uma licença limitada, não exclusiva e revogável
                para fazer uso do APLICATIVO. Esta licença deverá permanecer em vigor até e a menos que seja encerrada pelo USUÁRIO ou pela DEXTRA. O APLICATIVO é licenciado ao USUÁRIO,
                e não cedido, e a DEXTRA ou seus licenciadores detêm a propriedade de todas as cópias do APLICATIVO, mesmo após a instalação nos dispositivos dos USUÁRIOS.
            </p>
            <p>
                <strong>3.6.</strong> Todas as marcas comerciais, marcas de serviço, nomes comerciais, logotipos, nomes de domínio, e quaisquer outros recursos das marcas DEXTRA e DEVCAMP
                são de propriedade exclusiva da DEXTRA ou de seus licenciadores. Estes TERMOS DE USO não concedem ao USUÁRIO qualquer direito de usar qualquer recurso de marca da DEXTRA,
                seja para uso comercial ou não comercial, exceto conforme aqui previsto. O USUÁRIO concorda em cumprir estes TERMOS DE USO e em não usar o APLICATIVO ou qualquer parte
                deste de qualquer forma que não seja expressamente permitida por estes TERMOS DE USO. Exceto com relação aos direitos expressamente concedidos ao USUÁRIO sob estes
                TERMOS DE USO, a DEXTRA não concede nenhum direito ou título ao USUÁRIO.
            </p>
            <br />
            <h2>4. O USO DO APLICATIVO</h2>
            <p>
                <strong>4.1.</strong> Para utilizar o APLICATIVO, o USUÁRIO deve registrar-se e manter uma conta pessoal de usuário (“<strong>CONTA</strong>”),
                preenchendo obrigatoriamente os campos de cadastro (nome e CPF) e fornecendo informações válidas e corretas.
            </p>
            <p>
                <strong>4.2.</strong> O USUÁRIO concorda em fornecer à DEXTRA informações corretas, completas e atualizadas em sua CONTA, sob pena de ficar impossibilitado
                de acessar e usar o APLICATIVO. A DEXTRA, na medida do possível, fará o necessário para garantir que os dados inseridos estejam devidamente atualizados.
                O USUÁRIO é responsável por todas as atividades realizadas na sua CONTA e concorda em manter sempre a segurança e o sigilo do nome de usuário e senha da sua CONTA.
            </p>
            <p>
                <strong>4.3.</strong> A menos que diversamente permitido pela DEXTRA por escrito, o USUÁRIO poderá manter apenas 1 (uma) CONTA.
            </p>
            <p>
                <strong>4.4.</strong> O USUÁRIO não poderá autorizar terceiros a usarem sua CONTA. O USUÁRIO não poderá ceder, nem de qualquer outro modo transferir,
                sua CONTA a nenhuma outra pessoa ou entidade. A CONTA é pessoal e intransferível.
            </p>
            <p>
                <strong>4.5.</strong> O USUÁRIO concorda em cumprir todas as leis aplicáveis quando usar o APLICATIVO e somente poderá usar o APLICATIVO para finalidades legítimas.
            </p>
            <p>
                <strong>4.6.</strong> O USUÁRIO é responsável por obter o acesso à rede de dados necessária para usar o APLICATIVO. As taxas e encargos de sua rede de dados
                e mensagens poderão se aplicar se você acessar o APLICATIVO e a DEXTRA não será responsável por essas taxas e encargos. O USUÁRIO é responsável por adquirir e
                atualizar os equipamentos e dispositivos necessários para acessar e usar o APLICATIVO e quaisquer de suas atualizações.
            </p>
            <p>
                <strong>4.7.</strong> A DEXTRA não garante que o APLICATIVO, ou qualquer parte dele, funcionará em qualquer equipamento ou dispositivo em particular. Além disso,
                o APLICATIVO poderá estar sujeito a mau funcionamento e atrasos inerentes ao uso da Internet e de comunicações eletrônicas.
            </p>
            <p>
                <strong>4.8.</strong> O uso do APLICATIVO de forma indevida ou em desacordo com estes TERMOS DE USO, a critério da DEXTRA, implicará a exclusão da CONTA do USUÁRIO
                e a proibição da utilização do APLICATIVO. Os dados pessoais do USUÁRIO serão preservados na forma prevista em lei, inclusive, sem limitação, para fins de cumprimento
                de obrigação legal e para uso das autoridades competentes, caso a DEXTRA seja notificada ou acionada pela violação de direitos de terceiros decorrente do mau uso
                do sistema. Para saber como os seus dados pessoais são tratados, clique aqui e acesse a Política de Privacidade do APLICATIVO.
            </p>
            <br />
            <h2>5. PAGAMENTO</h2>
            <p>
                <strong>5.1.</strong> O APLICATIVO é disponibilizado hoje sem que qualquer pagamento seja devido pelo USUÁRIO à DEXTRA.
            </p>
            <br />
            <h2>6. CANCELAMENTO</h2>
            <p>
                <strong>6.1.</strong> O USUÁRIO pode cancelar a sua CONTA a qualquer momento e terá o seu acesso bloqueado imediatamente.
            </p>
            <p>
                <strong>6.2.</strong> Para cancelar sua CONTA, siga as instruções de cancelamento informadas na seção “Minha Conta”, disponível no menu da aplicação.
            </p>
            <br />
            <h2>7. GARANTIAS, LIMITAÇÃO DE RESPONSABILIDADE E INDENIZAÇÃO</h2>
            <p>
                <strong>7.1.</strong> A DEXTRA não será responsável por danos indiretos, inclusive lucros cessantes, perda de dados, danos morais ou patrimoniais
                relacionados, associados ou decorrentes de qualquer uso do APLICATIVO.
            </p>
            <p>
                <strong>7.2.</strong> O USUÁRIO concorda em indenizar e manter a DEXTRA, seus licenciadores, seus diretores, empregados e demais representantes isentos
                de responsabilidade por todas e quaisquer reclamações, cobranças, prejuízos e despesas (inclusive honorários advocatícios) decorrentes ou relacionados:
                (i) ao mau uso pelo USUÁRIO do APLICATIVO disponibilizado pela DEXTRA; (ii) descumprimento ou violação pelo USUÁRIO de qualquer disposição destes TERMOS DE USO;
                ou (iii) violação dos direitos de terceiros pelo USUÁRIO.
            </p>
            <br />
            <h2>8. LEGISLAÇÃO APLICÁVEL E JURISDIÇÃO</h2>
            <p>
                <strong>8.1.</strong> Estes TERMOS DE USO serão regidos e interpretados exclusivamente de acordo com as leis do Brasil. Qualquer reclamação,
                conflito ou controvérsia que surgir destes TERMOS DE USO ou a ele relacionada, inclusive que diga respeito à sua validade, interpretação ou exequibilidade,
                poderá ser solucionada pelos tribunais do foro de domicílio do USUÁRIO ou da DEXTRA.
            </p>
            <br />
            <h2>9. DISPOSIÇÕES GERAIS</h2>
            <p>
                <strong>9.1.</strong> O USUÁRIO poderá contatar a DEXTRA por meio de link no APLICATIVO ou por e-mail ao endereço eletrônico privacidade@mutant.com.br.
            </p>
            <p>
                <strong>9.2.</strong> É vedado ao USUÁRIO transferir ou ceder, a qualquer título, sua posição contratual nestes TERMOS DE USO ou qualquer direito ou 
                obrigação deles decorrentes sem o prévio e expresso consentimento da DEXTRA. A DEXTRA poderá transferir ou ceder sua posição contratual nestes TERMOS DE USO 
                ou qualquer direito ou obrigação deles decorrentes a qualquer tempo, sem a necessidade de prévio aviso ou consentimento do USUÁRIO.
            </p>
            <p>
                <strong>9.3.</strong> Caso o USUÁRIO não concorde com quaisquer alterações realizadas nestes TERMOS DE USO, deverá cancelar sua CONTA junto à DEXTRA 
                e se abster de utilizar o APLICATIVO.
            </p>
            <p>
                <strong>9.4.</strong> O APLICATIVO pode conter links a outros web sites. Os presentes TERMOS DE USO não abrangem os referidos sites, não podendo a DEXTRA 
                ser responsabilizada pelas práticas ou pelo conteúdo desses outros sites.
            </p>
            <p>
                <strong>9.5.</strong> Caso qualquer disposição contida nestes TERMOS DE USO seja tida como ilegal, inválida ou inexequível total ou parcialmente, 
                por qualquer legislação, essa disposição ou parte será, em sua medida, considerada como não existente para os efeitos destes TERMOS DE USO, 
                mas a legalidade, validade e exequibilidade das demais disposições contidas nestes TERMOS DE USO não serão afetadas. Nesse caso, as partes substituirão 
                a disposição ilegal, inválida ou inexequível, ou parte dela, por outra que seja legal, válida e exequível e que, na máxima medida possível, 
                tenha efeito similar à disposição tida como ilegal, inválida ou inexequível para fins de conteúdo e finalidade dos presentes TERMOS DE USO.
            </p>
            <p>
                <strong>9.6.</strong> Estes TERMOS DE USO, em conjunto com a Política de Privacidade do APLICATIVO, 
                constituem a totalidade do acordo e entendimento das partes sobre a disponibilização pela DEXTRA e utilização pelo USUÁRIO do APLICATIVO 
                e substituem e prevalecem sobre todos os entendimentos e compromissos anteriores sobre este assunto.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-close-modal" @onclick="OnClose">Fechar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClose { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}