<div class="modal-dialog modal-dialog-scrollable" id="legal-terms-modal" style="position: absolute; top: 0; display: @(Open ? "flex" : "none")">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Política de Privacidade</h5>
            <button type="button" class="close" @onclick="OnClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body terms">
            <center><h1>POLÍTICA DE PRIVACIDADE</h1></center>
            <br />
            <p>
                O Aplicativo <strong>DexQuiz</strong> é operado pela <strong>Prime Sistemas de Atendimento ao Consumidor Ltda.</strong>, com sede na Cidade de Campinas, Estado de São Paulo,
                na Rua Doutor Ricardo Benetton Martins, s/n, Polo II de Alta Tecnologia, CEP 13086-902, inscrita no CNPJ/MF sob o nº 23.741.593/0003-04 (denominada simplesmente “<strong>Dextra</strong>”).
            </p>
            <p>
                Esta Política de Privacidade (“<strong>Política</strong>”) contém as condições gerais aplicáveis ao tratamento dos Dados Pessoais coletados pela Dextra a
                todos os usuários do Aplicativo <strong>DexQuiz</strong>.
            </p>
            <p>
                <strong>
                    ATENÇÃO: Leia esta Política cuidadosamente antes de fornecer quaisquer Dados Pessoais à Dextra.
                    <u>
                        Caso você não concorde com essa Política,
                        orientamos que não utilize o Aplicativo e descontinue o acesso à plataforma da Dextra.
                    </u>
                </strong>
            </p>
            <p>
                Se você optar por utilizar o Aplicativo, você concorda com os termos e condições previstos na presente Política e princípios que a regem.
            </p>
            <p>
                A aceitação da presente Política é necessária para que o usuário usufrua das ferramentas do aplicativo em sua integralidade.
            </p>
            <p>
                Esta Política é destinada a regular o tratamento de Dados Pessoais obtidos dos usuários por meio do Aplicativo e, dada a sua publicidade, não é passível de alegação de desconhecimento.
            </p>
            <br />
            <center><h2>Resumo Geral</h2></center>
            <table border="1">
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Dados pessoais tratados
                    </td>
                    <td width="70%">
                        <p>
                            Podemos tratar os seguintes Dados Pessoais:
                        </p>
                        <p>
                            <ul>
                                <li>Dados de identificação: nome; CPF, e-mail pessoal, e-mail corporativo, empresa em que trabalha e seu cargo;</li>
                                <li>
                                    Dados de acesso: navegador de acesso ao Aplicativo; endereço do protocolo de Internet (IP); logs (data e hora do acesso);
                                    a localização do usuário; as ações do usuário no Aplicativo; informações referentes ao dispositivo móvel do usuário utilizado
                                    para o acesso ao Aplicativo; provedor de conexão; e outros dados coletados de forma automática; e
                                </li>
                                <li>
                                    Dados diversos: qualquer informação adicional que o usuário nos fornece diretamente ou indiretamente por meio do uso do Aplicativo,
                                    presença on-line ou através de outros sites, aplicativos ou contas.
                                </li>
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Como acessamos tais Dados Pessoais
                    </td>
                    <td width="70%">
                        <p>
                            Podemos coletar esses tipos de Dados Pessoais diretamente de você ou de terceiros. Podemos coletar essas informações quando você:
                        </p>
                        <p>
                            <ul>
                                <li>Utiliza nosso aplicativo; e</li>
                                <li>Inscreve-se para receber conteúdo da Dextra por e-mail.</li>
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Finalidade específica do tratamento
                    </td>
                    <td width="70%">
                        <p>
                            Tratamos Dados Pessoais para:
                        </p>
                        <p>
                            <ul>
                                <li>Permitir que você acesse e use o Aplicativo;</li>
                                <li>Operar, proteger e melhorar o Aplicativo e a experiência de nossos usuários;</li>
                                <li>Realizar análises, conduzir pesquisas e, ainda, para envio de publicidade e marketing;</li>
                                <li>Enviar-lhe notificações, lembretes, avisos técnicos, atualizações, alertas de segurança e informações solicitadas por você;</li>
                                <li>
                                    Cumprir com nossas obrigações legais, resolver quaisquer disputas que possamos ter com qualquer um de nossos usuários e
                                    fazer cumprir nossos contratos com terceiros;
                                </li>
                                <li>Compartilhar com terceiro confiável, nos termos desta Política;</li>
                                <li>
                                    Nos termos da legislação aplicável, para o exercício regular de direitos em processos judiciais, administrativos e arbitrais;
                                    e para o cumprimento de obrigação legal ou regulatória;
                                </li>
                                <li>Gerenciar e processar registros e outras interações com você; e</li>
                                <li>Disponibilização de mailing que será destinado aos patrocinadores do evento, desde que autorizado por você.</li>
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Forma e duração do tratamento
                    </td>
                    <td width="70%">
                        <p>
                            Tratamos Dados Pessoais coletados diretamente do usuário ou por meio de terceiros. Adotamos medidas físicas, técnicas e
                            administrativas razoáveis e adequadas para salvaguardar as informações que coletamos e tratamos. Mantemos suas informações
                            pelo tempo necessário ou relevante para a prestação dos serviços oferecidos pelo Aplicativo, conforme permitido pela lei aplicável,
                            bem como para solucionar disputas e cumprir com contratos e obrigações legais.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Identificação do controlador
                    </td>
                    <td width="70%">
                        <p>
                            Prime Sistemas de Atendimento ao Consumidor Ltda., com sede na Cidade de Campinas, Estado de São Paulo, na
                            Rua Doutor Ricardo Benetton Martins, s/n, Polo II de Alta Tecnologia, CEP 13086-902, inscrita no CNPJ/MF sob o nº 23.741.593/0003-04.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Informações de contato do controlador
                    </td>
                    <td width="70%">
                        <p>
                            Para exercer seus direitos, ou se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade,
                            nossa coleta e uso de seus Dados Pessoais ou uma possível violação de leis de privacidade, você pode entrar em contato com a Dextra em: privacidade@mutant.com.br.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Informações sobre uso compartilhado de dados e a finalidade
                    </td>
                    <td width="70%">
                        <p>
                            Podemos compartilhar seus Dados Pessoais com empresas do mesmo grupo econômico e com provedores de serviços ou parceiros apenas sob a
                            celebração de acordos contratuais baseados em boas práticas de proteção de dados, além de patrocinadores de eventos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Responsabilidades dos agentes que realizarão o tratamento
                    </td>
                    <td width="70%">
                        <p>
                            A Dextra apenas autorizará terceiros a tratarem seus Dados Pessoais mediante as obrigações contratuais apropriadas em vigor.
                            Se não formos capazes de resolver suas questões ou se você considerar que regras de proteção de dados tiverem sido violadas,
                            você tem o direito de entrar em contato com as autoridades governamentais brasileiras competentes ou buscar a via judicial.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="background-color: #d1cdcd;">
                        Direitos do titular
                    </td>
                    <td width="70%">
                        <p>
                            Você pode, a qualquer momento, requerer à Dextra, mediante envio de solicitação por escrito ao e-mail privacidade@mutant.com.br:
                            (i) confirmação de que seus Dados Pessoais estão sendo tratados; (ii) acesso aos seus Dados Pessoais;
                            (iii) correções a dados incompletos, inexatos ou desatualizados; (iv) anonimização, bloqueio ou eliminação de dados desnecessários,
                            excessivos ou tratados em desconformidade com o disposto em lei; (v) portabilidade de Dados Pessoais a outro prestador de serviços,
                            contanto que isso não afete nossos segredos industriais e comerciais; (vi) eliminação de Dados Pessoais tratados com seu consentimento,
                            na medida do permitido em lei; (vii) informações sobre as entidades com as quais seus Dados Pessoais tenham sido compartilhados;
                            (viii) informações sobre a possibilidade de não fornecer o consentimento e sobre as consequências da negativa (em alguns casos,
                            a Dextra não será capaz de prestar determinados serviços ou responder questões que você possa ter); e (ix) revogação do consentimento.
                        </p>
                    </td>
                </tr>
            </table>
            <br />
            <h2>(I) Definições</h2>
            <p>Para os fins desta Política:</p>
            <p>
                <ul>
                    <li>“<strong>Dados Pessoais</strong>” significa informações que permitam a identificação, direta ou indiretamente, de pessoas físicas;</li>
                    <li>
                        “<strong>Tratamento de Dados Pessoais</strong>” significa qualquer operação realizada com Dados Pessoais, tais como a coleta, produção, recepção,
                        classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento,
                        eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração;
                    </li>
                    <li>“<strong>Titular</strong>” significa a pessoa física a quem se referem os dados pessoais que são objeto de tratamento;</li>
                    <li>
                        “<strong>Controlador</strong>” significa a pessoa física ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao
                        tratamento de Dados Pessoais. Para os fins da presente política, a Dextra será considerada Controlador dos Dados Pessoais dos usuários;
                    </li>
                    <li>
                        “<strong>Consentimento</strong>” significa a manifestação livre, informada e inequívoca pela qual o Titular concorda com o tratamento de seus
                        Dados Pessoais para uma finalidade determinada; e
                    </li>
                    <li>“<strong>Leis de Proteção de Dados</strong>” significa toda a legislação aplicável ao Tratamento de Dados Pessoais, que inclui, sem limitação, a Lei nº 13.709/2018.</li>
                </ul>
            </p>
            <br />
            <h2>(II) Uso dos Dados Pessoais</h2>
            <p>
                Tratamos os seguintes dados dos usuários para as finalidades relacionadas ao Aplicativo, que podem ou não constituir Dados Pessoais:
            </p>
            <p>
                <ul>
                    <li><strong>Dados de identificação</strong>: nome; e-mail pessoal, e-mail corporativo, empresa em que trabalha e seu cargo;</li>
                    <li>
                        <strong>Dados de acesso</strong>: navegador de acesso ao Aplicativo; endereço do protocolo de Internet (IP); logs (data e hora do acesso);
                        a localização do usuário; as ações do usuário no Aplicativo; informações referentes ao dispositivo móvel do usuário utilizado
                        para o acesso ao Aplicativo; provedor de conexão; e outros dados coletados de forma automática; e
                    </li>
                    <li>
                        <strong>Dados diversos</strong>: detalhes dos produtos e serviços que fornecemos a você ou sobre os quais você perguntou,
                        incluindo quaisquer informações adicionais necessárias para entregar esses produtos e serviços e responder às suas perguntas;
                        informações que você nos fornece por meio de pesquisas com usuários; e qualquer informação adicional relacionada a você que
                        você nos forneça diretamente ou indiretamente por meio do uso do Aplicativo ou presença on-line ou por meio de outros sites
                        ou contas dos quais você nos permite coletar informações.
                    </li>
                </ul>
            </p>
            <p>
                Tratamos seus Dados Pessoais para gerenciar seu relacionamento com a Dextra, para fins de execução das funcionalidades do Aplicativo,
                inclusive personalizando e melhorando sua experiência no uso do Aplicativo, o que inclui as seguintes finalidades:
            </p>
            <p>
                <ul>
                    <li>Permitir que você acesse e use o Aplicativo;</li>
                    <li>Operar, proteger e melhorar o Aplicativo e a experiência de nossos usuários;</li>
                    <li>Realizar análises, conduzir pesquisas e, ainda, para envio de publicidade e marketing;</li>
                    <li>Enviar-lhe notificações, lembretes, avisos técnicos, atualizações, alertas de segurança e informações solicitadas por você;</li>
                    <li>
                        Cumprir com nossas obrigações legais, resolver quaisquer disputas que possamos ter com qualquer um de nossos usuários e
                        fazer cumprir nossos contratos com terceiros;
                    </li>
                    <li>Compartilhar com terceiro confiável, nos termos desta Política;</li>
                    <li>
                        Nos termos da legislação aplicável, para o exercício regular de direitos em processos judiciais, administrativos e arbitrais;
                        e para o cumprimento de obrigação legal ou regulatória;
                    </li>
                    <li>Gerenciar e processar registros e outras interações com você; e</li>
                    <li>Disponibilização de mailing que será destinado aos patrocinadores do evento, desde que autorizado por você</li>

                </ul>
            </p>
            <p>
                Além disso, a Política não se aplica a quaisquer produtos, serviços, ou recursos de mídia social de terceiros que
                possam ser oferecidos ou acessados por meio do Aplicativo da Dextra.
            </p>
            <p>
                O acesso a esses links fará com que você deixe o Aplicativo e possa resultar na coleta ou compartilhamento de informações sobre você por terceiros.
                Nós não controlamos, endossamos ou fazemos quaisquer representações sobre esses sites de terceiros ou suas práticas de privacidade, que podem ser diferentes das nossas.
                Recomendamos que você revise a Política de Privacidade de qualquer site com o qual você interaja antes de permitir a coleta e o uso de seus Dados Pessoais.
            </p>
            <p>
                Caso você nos envie Dados Pessoais referentes a outras pessoas físicas, você declara ter a competência para fazê-lo e declara ter obtido o consentimento necessário para
                autorizar o uso de tais informações nos termos desta Política de Privacidade.
            </p>
            <br />
            <h2>(III) Não Fornecimento de Dados</h2>
            <p>
                Você não é obrigado a compartilhar os Dados Pessoais que solicitamos. No entanto, se você optar por não os compartilhar, em alguns casos, não poderemos fornecer a você
                todos os serviços disponibilizados pelo Aplicativo ou ser capazes de responder efetivamente a consultas que você possa fazer.
            </p>
            <p>
                Abaixo, listamos os serviços que poderão ser afetados caso você opte por não disponibilizar seus Dados Pessoais:
            </p>
            <p>
                <table border="1">
                    <tr style="background-color: #d1cdcd;">
                        <td><strong>Se você não fornecer os seguintes dados:</strong></td>
                        <td><strong>O seguinte poderá ocorrer:</strong></td>
                    </tr>
                    <tr>
                        <td>
                            E-mail pessoal ou corporativo, empresa em que trabalha e seu cargo
                        </td>
                        <td>
                            Ao optar por não fornecer estas informações, a Dextra ficará impossibilitada de entrar em contato com você para responder às suas perguntas.
                            A Dextra também não poderá enviar informações que você tenha solicitado ou consentido em receber, como boletins informativos,
                            últimas notícias e outras informações sobre atividades relevantes da Dextra, bem como personalizar a sua experiência.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Documentos pessoais:<br />Nome e CPF
                        </td>
                        <td>
                            Ao optar por não fornecer estas informações, a Dextra fica impossibilitada de permitir o correto funcionamento do Aplicativo.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dados de acesso: navegador de acesso ao Aplicativo; endereço do protocolo de Internet (IP); logs (data e hora do acesso); 
                            a localização do usuário; as ações do usuário no Aplicativo; modelo do dispositivo móvel e o sistema operacional utilizado 
                            para o acesso ao Aplicativo; provedor de conexão; e outros dados coletados de forma automática.
                        </td>
                        <td>
                            Ao optar por não fornecer estas informações, não será tecnicamente possível a execução do Aplicativo em seu dispositivo. 
                            Pela legislação aplicável, provedores de serviços de internet são obrigados a coletar e armazenar determinados dados.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dados diversos: Detalhes dos produtos e serviços que fornecemos a você ou sobre os quais você perguntou, 
                            incluindo quaisquer informações adicionais necessárias para entregar esses produtos e serviços e responder as suas perguntas; 
                            informações que você nos fornece através de pesquisas com usuários; e qualquer informação adicional relacionada a você que você 
                            nos forneça diretamente através do Aplicativo ou indiretamente através do uso do Aplicativo ou presença on-line ou 
                            através de outros sites ou contas dos quais você nos permite coletar informações.
                        </td>
                        <td>
                            Ao optar por não fornecer estas informações, não conseguiremos fornecer uma resposta 
                            às suas perguntas ou prosseguir com a ação requisitada por você.
                        </td>
                    </tr>
                </table>
            </p>
            <br />
            <h2>(IV) Compartilhamento de Dados Pessoais com Terceiros</h2>
            <p>
                A Dextra poderá compartilhar seus Dados Pessoais com:
            </p>
            <p>
                <ul>
                    <li>Empresas do mesmo grupo econômico, para a tomada de decisões estratégicas dentro da corporação;</li>
                    <li>
                        Provedores de serviços ou parceiros para gerenciar ou suportar certos aspectos de nossas operações comerciais em nosso nome, 
                        tais como prestadores de serviços de hospedagem e armazenamento de dados, gerenciamento de fraudes, suporte ao usuário, vendas em nosso nome, 
                        atendimento de pedidos, personalização de conteúdo, atividades de publicidade e marketing (incluindo publicidade digital e personalizada) e serviços de TI;
                    </li>
                    <li>Terceiros, com o objetivo de nos ajudar a gerenciar nosso negócio, incluindo dentre outros, instituições financeiras e empresas de análises de crédito; </li>
                    <li>
                        Terceiros, caso ocorra qualquer reorganização, fusão, venda, joint-venture, cessão, transmissão ou transferência de toda ou 
                        parte da nossa empresa, ativo ou capital (incluindo os relativos à falência ou processos semelhantes); e
                    </li>
                    <li>Patrocinadores do evento.</li>
                </ul>
            </p>
            <p>
                Todo compartilhamento buscará sempre atender um dos seguintes motivos: (i) para reduzir custos de operação; 
                (ii) para aprimorar a segurança dos nossos dados e (iii) para analisar os dados obtidos pelos serviços.
            </p>
            <p>
                A Dextra somente compartilhará seus Dados Pessoais com terceiros que demonstrem possuir o mesmo compromisso com a privacidade e a proteção de dados que temos.
            </p>
            <br />
            <h2>(V) Transferências Internacionais de Dados</h2>
            <p>
                Poderá haver a transferência de Dados Pessoais pela Dextra a entidades localizadas fora do Brasil, tais como para armazenamento em servidores de nuvem em outros países. 
                A transferência sempre será realizada para as finalidades descritas nesta Política, e os Dados Pessoais poderão ser transferidos para países regidos ou não por legislação 
                de proteção de dados adequada, sendo a transferência sempre realizada de acordo com a legislação aplicável.
            </p>
            <p>
                A fim de proteger os Dados Pessoais transferidos, a Dextra usa uma variedade de mecanismos previstos em lei.
            </p>
            <br />
            <h2>(VI) Formas de Coleta Automática de Dados Pessoais</h2>
            <p>
                De acordo com esta Política, nós e nossos prestadores de serviços terceirizados podemos coletar seus Dados Pessoais de diversas formas, incluindo, entre outros:
            </p>
            <p>
                <ul>
                    <li>
                        <strong>Por meio do navegador ou do dispositivo</strong>: Algumas informações são coletadas pela maior parte dos navegadores ou automaticamente por meio de dispositivos 
                        de acesso à Internet, como o tipo de computador, smartphone ou tablet utilizado para acessar o Aplicativo, resolução da tela, nome e versão do sistema operacional, 
                        modelo e fabricante do dispositivo, idioma, tipo e versão do navegador de Internet que está utilizando, informações de hardware, endereço IP do aparelho, 
                        idioma de preferência, identificadores únicos do aparelho, identificadores de publicidade, números de série, dados de movimento do aparelho e dados da rede móvel. 
                        Podemos utilizar essas informações para assegurar que o Aplicativo funcione adequadamente.
                    </li>
                    <li>
                        <strong>Uso de cookies</strong>: Informações sobre o seu uso do Aplicativo podem ser coletadas por terceiros, por meio de cookies, para aprimorar nossos serviços. 
                        Cookies são informações armazenadas diretamente no computador e/ou dispositivo que você está utilizando. Os cookies permitem a coleta de informações tais como o 
                        tipo de navegador, o tempo dispendido em nosso Aplicativo, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos 
                        prestadores de serviço utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente e personalizar 
                        sua experiência ao utilizar o Aplicativo, assim como para rastreamento online. Também coletamos informações estatísticas sobre o uso do Aplicativo para 
                        aprimoramento contínuo do nosso design e funcionalidade, para entender como o Aplicativo é acessado.
                    </li>
                </ul>
            </p>
            <p>
                Caso não deseje que suas informações sejam coletadas por meio de cookies, há um procedimento simples na maior parte dos navegadores e equipamentos que permite que os 
                cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado 
                para o seu computador. Entretanto, isso pode gerar inconvenientes no uso do Aplicativo.
            </p>
            <p>
                As definições que escolher podem afetar a sua experiência de navegação e o funcionamento de algumas funcionalidades que exijam a utilização de cookies. 
                Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado do nosso Aplicativo provocado pela desativação 
                de cookies no seu dispositivo (incapacidade de definir ou ler um cookie).
            </p>
            <p>
                A utilização do nosso Aplicativo presume que você está ciente e de acordo com a utilização de cookies.
            </p>
            <br />
            <h2>(VII) Direitos do Usuário</h2>
            <p>
                Você, como usuário do Aplicativo e titular de Dados Pessoais, tem os seguintes direitos, que podem ser exercidos a partir de requisição à Dextra:
            </p>
            <p>
                <ul>
                    <li><strong>Direito de Confirmação</strong>: Você tem o direito de confirmar se a Dextra trata seus Dados Pessoais;</li>
                    <li><strong>Direito de Acesso</strong>: Você tem o direito de acessar os Dados Pessoais que a Dextra mantém em relação a você;</li>
                    <li><strong>Direito à Retificação</strong>: Você tem o direito de nos solicitar a correção de seus Dados Pessoais quando estes estiverem incompletos, inexatos ou desatualizados;</li>
                    <li><strong>Direito à Anonimização, Bloqueio ou Eliminação</strong>: Você tem o direito de requerer a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto em lei;</li>
                    <li><strong>Direito à Portabilidade de Dados Pessoais</strong>: Você pode requerer a portabilidade de Dados Pessoais a outro prestador de serviços, contanto que isso não afete nossos segredos industriais e comerciais;</li>
                    <li><strong>Direito à Eliminação de Dados Pessoais</strong>: Você tem direito à eliminação de Dados Pessoais tratados com seu consentimento, na medida do permitido em lei;</li>
                    <li><strong>Direito à Informação</strong>: Você tem direito de receber da Dextra informações sobre as entidades públicas ou privadas com as quais seus Dados Pessoais tenham sido compartilhados e sobre a possibilidade de não fornecer o consentimento e as consequências da negativa; e</li>
                    <li><strong>Direito à Revogação do Consentimento</strong>: Você pode requerer à Dextra a revogação do seu consentimento.</li>
                </ul>
            </p>
            <p>
                Os seus pedidos serão tratados com especial cuidado de forma a que possamos assegurar a eficácia dos seus direitos. Poderá ser solicitado a você que 
                faça prova da sua identidade de modo a assegurar que o compartilhamento de Dados Pessoais seja apenas feito com seu titular.
            </p>
            <p>
                É importante lembrar que somente aplicamos essas camadas de segurança a partir do momento que suas informações são recebidas pela Dextra e 
                enquanto forem mantidas conosco. Assim, não podemos garantir a segurança do dispositivo eletrônico ou das redes de internet que você está utilizado para acessar o Aplicativo.
            </p>
            <p>
                Apesar de utilizarmos nossos maiores esforços para proteger os dados dos nossos usuários, sabemos que incidentes podem acontecer, justamente porque nenhum 
                sistema de segurança é infalível. Assim, caso quaisquer de seus Dados Pessoais sejam expostos de alguma forma, lhe enviaremos um comunicado dentro de 
                um prazo razoável com as principais informações relacionadas a esse incidente.
            </p>
            <p>
                Caso tenha motivos para acreditar que sua interação conosco tenha deixado de ser segura (por exemplo, caso acredite que a segurança de sua conta foi comprometida), 
                favor nos informar imediatamente.
            </p>
            <br />
            <h2>Uso do Aplicativo por Menores de Idade</h2>
            <p>
                O Aplicativo não se destina a pessoas com menos de 18 (dezoito) anos e orientamos que tais pessoas não forneçam quaisquer Dados Pessoais à Dextra. 
                Caso seja necessário o tratamento de Dados Pessoais de menores de 18 (dezoito anos), o consentimento e/ou autorização de um dos pais ou responsáveis será necessário.
            </p>
            <br />
            <h2>(X) Atualizações desta Política de Privacidade </h2>
            <p>
                Enviaremos um comunicado aos usuários sempre que realizarmos algum tipo de atualização e/ou alteração substancial nessas Políticas e, 
                caso seja necessário seu consentimento, solicitaremos imediatamente. Caso haja alteração desta Política relacionada (i) à finalidade específica do 
                Tratamento de Dados Pessoais; (ii) à forma e duração do Tratamento de Dados Pessoais, observados os segredos comercial e industrial da Dextra; 
                (iii) à identificação do controlador dos Dados Pessoais; e/ou (iv) às informações acerca do uso compartilhado de Dados Pessoais pelo controlador 
                e a finalidade, informaremos ao usuário de forma destacada, seja por meio das informações de contato que tivermos em nosso banco de dados ou 
                por meio de notificação no Aplicativo.
            </p>
            <p>
                Recordamos que a Dextra tem como compromisso não tratar os seus Dados Pessoais de forma incompatível com os objetivos descritos acima, 
                exceto se de outra forma requerido por lei ou ordem judicial.
            </p>
            <p>
                Sua utilização do Aplicativo após as alterações significa que aceitou a versão vigente da Política. Caso, após a leitura da versão revisada, 
                você não esteja de acordo com seus termos, favor não utilizar o Dextra.
            </p>
            <br />
            <h2>(XI) Como Contatar a Dextra</h2>
            <p>
                Caso pretenda exercer qualquer um dos direitos previstos nesta Política e/ou nas Leis de Proteção de Dados, ou resolver quaisquer dúvidas relacionadas ao
                Tratamento de seus Dados Pessoais, favor contatar-nos em privacidade@mutant.com.br.
            </p>
            <br />
            <h2>(XII) Lei e Foro Aplicáveis</h2>
            <p>
                Esta Política será regida e interpretada de acordo com as leis da República Federativa do Brasil.
            </p>
            <p>
                As partes elegem o Foro da Comarca de São Paulo, Estado de São Paulo, como o único competente para dirimir qualquer litígio resultante desta Política.
            </p>
            <p>
                O Aplicativo é controlado e operado pela Dextra a partir de seus escritórios no Brasil e destinado ao público localizado no território brasileiro. 
                Não garantimos que os materiais do Aplicativo sejam adequados ou que estejam disponíveis para uso em outros locais fora do Brasil, ou que o acesso a tais 
                conteúdos seja lícito em todos os territórios. Caso acesse o Aplicativo de locais fora do Brasil, você será responsável pelo cumprimento de todas as leis 
                locais, não podendo utilizar o Dextra ou exportar os materiais do Dextra quando isso constituir uma violação à legislação aplicável.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-close-modal" @onclick="OnClose">Fechar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClose { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}